# File: roles/security/tasks/main.yml

- name: Install UFW firewall
  ansible.builtin.apt:
    name: ufw
    state: present

- name: Configure UFW firewall rules
  community.general.ufw:
    rule: allow
    port: "{{ item.port }}"
    proto: tcp
    comment: "{{ item.comment }}"
  loop:
    - { port: '22',   comment: 'Forgejo Git SSH' }      
    - { port: '80',   comment: 'Nginx HTTP' }
    - { port: '443',  comment: 'Nginx HTTPS' }
    - { port: '2222', comment: 'System SSH' }

- name: Security - Enable UFW and set default deny
  community.general.ufw:
    state: enabled
    policy: deny
    logging: 'on' # Будет писать попытки взлома в логи

- name: Harden SSH configuration
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  loop:
    - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication no' }
    - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin prohibit-password' }
    - { regexp: '^#?PubkeyAuthentication', line: 'PubkeyAuthentication yes' }
  notify: Restart SSH
